.container{
	width:100%;
	background-color:none;
	margin:0 auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}
.body form{
	margin:5% 5% 5% 5%;
	width:90%;
	border-style:dotted;
	border-color:#3498DB;
	background-color:#D0D3D4;
}
.form_content{
	padding:2% 2% 2% 2%;
}
.form_content button{
	width:97%;
	height:10%;
	border-radius: 50px;
	margin:5px 5px 5px 5px;
	border: none;
	text-align: left;
	font-size: 140%;
	transition: all 0.5s;
	cursor: pointer;
	padding:8px;
	padding-left:15px;
	color:#c7a693;
	background-color:#856046;
	border:none;
}
.form_content button:hover {
	background-color:#5e0231;
}

.form_content button:active {
	transform: translateY(4px);
	background-color:#330033;
	border:none;
}
.header{
	width:100%;
	height:10%;
	position: fixed;
	background-color:#990033;
	box-shadow:0px -10px 10px -10px black inset;
}
.userheader{
	width:20%;
	height:100%;
	margin:0 auto;
	float:right;
	border-radius:5%;
	background-color:#5e0231;
	box-shadow:-3px -3px 20px 0px black inset;
}
.user{
	height:100%;
}
.user img{
	height:100%;
	width:40%;
	border-radius:50%;
	float:left;
}
.user a{
	height:10%;
	width:10%;
	font-size:70%;
	position:relative;
	float:left;
	color:#dbc3d0;
}
.user:hover .dropbtndiv{
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.user:active img{
	transform: scale(1.1);
}
.footer{
	width:100%;
	height:10%;
	float:left;
	background-color: #90A4AE;
}
.dropdown{
	display:inline-block;
	margin:0 auto;
}
.dropbtndiv{
	display:inline-block;
	margin:0 auto;
	text-align:center;
}
.dropbtndiv a{
	cursor:default;
}
.drop_content{
	cursor:default;
	display:none;
	margin:0 auto;
	border:1px;
	position:absolute;
	box-shadow:-3px -3px 20px 0px white inset;
}
.drop_content ul li{
	padding: 12px 16px;
	display:block;
}
.drop_content ul li a{
	text-decoration:none;
	color:#641E16 ;
}
.drop_content a:hover{
	color:#F2D7D5 ;
	cursor:pointer;
}
.drop_content a:active{
	box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.2);
}
.backbody{
	width:100%;
	height:90%;
	float:right;
	display:inline-block;
}
.body{
	width:80%;
	height:100%;
	float:right;
	overflow-y:scroll;
	overflow-x:hidden;
	display:inline-block;
}
.right_sidebar{
	width:20%;
	height:100%;
	list-style-type: none;
	float:right;
	background-color:#CCCCCC;
	box-shadow:10px 0px 10px -10px white inset;
}
.online_userbar{
	width:100%;
	height:50%;
	background-color:#FDE6FC;
	overflow-y:scroll;
	overflow-x:hidden;
}
.online_userbar select{
	width:100%;
	background-color:#856046;
	color:white;
	border:2px black;
}
.mother{
	cursor:pointer;
	width:100%;
	height:15%;
	border-radius:10%;
	margin:0 auto;
	background-color:#856046;
	box-shadow: 1px 1px 10px 1px inset;
}
.mother:active{
	box-shadow: 0px 8px 16px 0px black inset;
}
.mother img{
	height:97%;
	width:17%;
	border-radius:50%;
	float:left;
}
.mother a{
	height:10%;
	width:90%;
	font-size:40%;
	position:static;
	float:left;
	color:#dbc3d0;
}
.mother:hover{
	background-color:#CA6F1E;
}	
.newsfeed{
	width:100%;
	height:50%;
	overflow-y:scroll;
	overflow-x:hidden;
}
.newsfeed  h2{
	background:#5e0231;
	border:1px solid black;
	color:#dbc3d0;
}
.newsfeed ul li{
	height:30%;
	border-bottom:1px solid black;
	font-size:120%;
}
.newsfeed ul li:last-child{
	border:none;
}
.newsfeed p{
	font-size:70%;
	color:#969296;
}


.button{
	background-color: #cc00cc;/* purple*/
	border: none;
	color: white;
	text-align: center;
	display: inline-block;
	margin: 8px 2px;
	cursor: pointer;
	
}
.button1{font-size:15px; padding: 8px 20px}
